{% load staticfiles wagtailerrorpages_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Page not found{% endblock %}</title>
  {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}
  {% block head %}
    <link rel="stylesheet" href="{% static "wagtailerrorpages/style.css" %}">
  {% endblock %}
</head>
<body class="404">
  {% block header %}
    [<a href="/">Go home</a>]
  {% endblock %}
  {% block content %}
    {% message404 %}
  {% endblock %}
  {% block footer %}{% endblock %}
</body>
</html>
